@model IEnumerable<RestaurantListViewModel>


@{
    ViewData["Title"] = "Home Page";
}

<form method="get"
      data-otf-ajax="true" data-otf-target="restaurantList">

        <input type="search" name="searchterm" value="" data-otf-autocomplete="@Url.Action("Autocomplete")" />
        <input type="submit" value="search by name"/>
   </form>

<partial name="_Restaurants" model="Model"/>


